/* 公共样式表css */
html, body {
    color: #333;
    margin: 0;
    height: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    border: 0;
}
body {
    background: #F4F5F9;
    color: #666;
}
html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #08acee;
}
button {
    outline: 0;
}
img {
    border: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}
li {
    list-style: none;
}
a {
    color: #666;
}
a:hover {
    color: #eee;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
/* 必要布局样式css */
.case-container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.case-index-title {
    font-size: 16px;
    text-align: center;
    padding: 50px 0;
}
.case-index-title h2 {
    font-size: 36px;
    font-family: pingfang, "Microsoft Yahei", "HanHei SC", PingHei, "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-weight: normal;
}
.case-index-title a {
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #DBDCE0;
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 20px auto 0;
    transition: all .2s;
}
.case-index-title a:hover {
    background: #F96A69;
    border-color: #F96A69;
    color: #fff;
}
.case-index-content {
    position: relative;
    padding-left: 20px;
}
.case-index-content ul {
    margin-right: -18px;
}
.case-example-item {
    float: left;
    width: 250px;
    height: 315px;
    overflow: hidden;
    margin: 0 18px 18px 0;
    text-align: center;
    background: #fff;
    position: relative;
    transition: all .2s;
}
.case-example-item a .case-pad {
    /*width: 286px;*/
    /*height: 180px;*/
    height: 100%;
    width: 100%;
}
.case-item-info {
    height: 135px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: all .2s;
    opacity: 0.85;
}
.case-info-logo {
    margin-top: 0;
    /*margin-bottom: 8px;*/
    height: 80px;
    transition: all .2s;
}
.case-info-title {
    font-size: 20px;
    font-weight: bolder;
    color: #646466;
    margin-top: -55px;
    margin-bottom: 0px;
}
.case-info-author {
    font-size: 14px;
    color: #646466;
    margin-bottom: 0px;
}
.case-info-price {
    /*font-size: 14px;*/
    /*color: #646466;*/
    /*margin-bottom: 0px;*/
    /*display: inline-block;*/
}
.price {
    font-size: 10px;
    color: #646466;
    display: inline;
    margin-bottom: 0px;
}
/*原价*/
.case-info-price .case-info-originalPrice {
    font-size: 25px;
    color: #646466;
    margin-bottom: 0px;
    text-decoration:line-through;
    display: inline;
}
/*现价*/
.case-info-price .case-info-sellingPrice{
    font-size: 35px;
    font-weight: bolder;
    color: #ee0707;
    margin-bottom: 0px;
    display: inline;
    margin-right: 20px;
}
/*书籍销售状态*/
.case-info-bookSellStatus {
    color: #646466;
    font-size: 3px;
    text-align: right;
}
.introduction {
    margin-top: 20px;
    color: #646466;
    font-size: 20px;
    font-weight: bolder;
}
.case-info-bookIntro {
    width: 70%;
    font-size: 14px;
    color: #646466;
    margin-bottom: 0px;
    background: transparent;
    border-style: none;
    overflow:hidden;
    resize:none;
}

.btn-Pre-or-Next {
    text-align: center;
    margin-top: 20px;
    /*position:relative*/
}
.case-info-text {
    font-size: 14px;
    color: #666;
    padding: 0 30px;
    text-align: left;
    line-height: 1.8;
}
.case-index-content .case-example-item:hover .case-item-info {
    height: 315px;
}

.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;
    width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
    position:absolute;
    left:0px;
}
.jPag-control-front{
    position:absolute;
    top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
    width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
    text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
}
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
}
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
}
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
}


